html, body {
  height: 100%;
}

#wrapper {
  min-height: 100%;
  position: relative;
  padding-top: 71px;
}

#content {
  padding-bottom: 30px; /* footer#footer height */
  margin-top: 0;
}

footer#footer {
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 30px;
  width: 100%;
  opacity: 0.7;
  font-size: 12px;
}

#curImg,
#nextImg {
  image-rendering: -webkit-optimize-contrast;
  image-rendering: -webkit-crisp-edges;
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-crisp-edges;
  image-rendering: pixelated;
  height: auto;
  width: 100%;
}

#brightness {
  display: none;
  width: 100%;
}

#animCountPanel {
  color: #777;
  font-size: 8pt;
  text-align: right;
}

.navbar-brand {
  margin-top: -5px;
}

.navbartext {
  position: absolute;
  display: inline-block;
  color: #fff;
  font-size: 12pt;
  font-weight: bold;
  top: 16px;
  margin-left: -8px;
}

.logo {
  width: 31px;
  height: 31px;
  padding: 2px;
  border: 4px solid white;
  background: black;
  display: inline-block;
}

.logo .logo-pixel {
  position: absolute;
  background: black;
  padding: 1px;    
  width: 3px;
  height: 3px;
  transition: background 0.3s ease-in-out;
}

.fas{
  width: 25px;
}

.dropdown-menu>.disabled>a {
  color: #9d9d9d !important;
}

.panel-heading, .panel-heading:active {
  cursor: pointer;
  font-weight: bold;
}

.panel-heading:before {
   font-family: 'Glyphicons Halflings';
   content: "\e114";
   float: right;
   transition: all 0.5s;
}

.panel-heading.active:before {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  transform: rotate(180deg);
} 

.modal-title {
  font-size: 14pt;
  font-weight: bold;
}

.changelog {
  width: 100%;
  max-height: 100px;
  overflow-y: auto;
  font-size: 8pt;
}

.hiddenButton .btn {
  display: none;
}

.hiddenButton:hover .btn {
  display: inline-block;
}

input[type=image].item {
  cursor: pointer;
  border: none;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: -webkit-crisp-edges;
  image-rendering: -moz-crisp-edges;
  image-rendering: -o-crisp-edges;
  image-rendering: pixelated;
  margin-bottom: 15px;
}

input[type=image][disabled].item {
  opacity: 0.4 !important;
  cursor: not-allowed;
}

.switch {
  zoom: 0.65;
  display: inline-block;
  vertical-align: middle;
  margin-left: 15px;
}

.cmn-toggle {
  position: absolute;
  margin-left: -9999px;
  visibility: hidden;
}

.cmn-toggle + label {
  display: block;
  position: relative;
  cursor: pointer;
  outline: none;
}

input.cmn-toggle-round + label {
  padding: 2px;
  width: 120px;
  height: 60px;
  background-color: #ddd;
  border-radius: 30px;
}

input.cmn-toggle-round + label:before,
input.cmn-toggle-round + label:after {
  display: block;
  position: absolute;
  top: 2px;
  left: 2px;
  bottom: 2px;
  content: "";
}

input.cmn-toggle-round + label:before {
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  background-color: #ddd;
  border-radius: 30px;
  transition: background 0.4s;
}

input.cmn-toggle-round + label:after {
  top: 4px;
  left: 4px;
  bottom: 4px;
  width: 52px;
  background-color: #fff;
  border-radius: 100%;
  transition: margin 0.4s;
}

input.cmn-toggle-round:checked + label:before {
  background-color: #337ab7;
}

input.cmn-toggle-round:checked + label:after {
  margin-left: 60px;
}

input[disabled].cmn-toggle-round + label:before,
input[disabled].cmn-toggle-round + label:after {
  opacity: 0.4;
  cursor: not-allowed;
}

input[type=range] {
  -webkit-appearance: none;
  margin: 30px 0;
  width: 100%;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 6px;
  cursor: pointer;
  background: #ddd;
  border-radius: 4px;
}

input[type=range]::-webkit-slider-thumb {
  height: 40px;
  width: 40px;
  border-radius: 40px;
  border-style: solid;
  border-width: 4px;
  border-color: #8ce196;
  background: #fff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -18px;
}

input[type=range][disabled]::-webkit-slider-runnable-track {
  opacity: 0.4;
  cursor: not-allowed;
}

input[type=range][disabled]::-webkit-slider-thumb {
  border-color: #ddd;
  cursor: not-allowed;
}