#wrapper {
  min-height: 100%;
  position: relative;
  padding-top: 71px;
}

.navbar-brand {
  margin-top: -5px;
}

.navbartext {
  position: absolute;
  display: inline-block;
  color: #fff;
  font-size: 12pt;
  font-weight: bold;
  top: 16px;
  margin-left: -8px;
}

.logo {
  width: 31px;
  height: 31px;
  padding: 2px;
  border: 4px solid white;
  background: black;
  display: inline-block;
}

.logo .logo-pixel {
  position: absolute;
  background: black;
  padding: 1px;    
  width: 3px;
  height: 3px;
  transition: background 0.3s ease-in-out;
}

.panel-heading, .panel-heading:active
{
  cursor: pointer;
  font-weight: bold;
}

.panel-heading:before
{
   font-family: 'Glyphicons Halflings';
   content: "\e114";
   float: right;
   transition: all 0.5s;
}
.panel-heading.active:before
{
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  transform: rotate(180deg);
}

.modal-title
{
  font-size: 14pt;
  font-weight: bold;
}

.animTitle
{
  margin-top: -5px;
  margin-bottom: 10px;
  font-size: 8pt;
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
}

input[type=checkbox]
{
  display:none;
}

input[type=checkbox] + label
{
  image-rendering: pixelated;
  min-height: 64px;
  min-width: 64px;
}

input.new[type=checkbox]:checked + label
{
  border-radius: 4px;
  border-style: solid;
  border-width: 8px;
  border-color: #5cb85c;
}

input.new[type=checkbox]:checked + label:before
{
  position: absolute;
  top: 40%;
  left: 65%;
  font-size: 28px;
  font-family: 'Glyphicons Halflings';
  content: "\e013";
  color: green;
}

input.downloaded[type=checkbox]:checked + label
{
  border-radius: 4px;
  border-style: solid;
  border-width: 8px;
  border-color: #d9534f;
}

input.downloaded[type=checkbox]:checked + label:before
{
  position: absolute;
  top: 40%;
  left: 65%;
  font-size: 28px;
  font-family: 'Glyphicons Halflings';
  content:"\e014";
  color: darkred;
}